# Ignore environment files
.venv

# Ignore log files
*.log

# Ignore Python cache files
__pycache__/

# Ignore pip.py file
get-pip.py

# Ignore llm.py file
chatbot/llm/llm.py
chatbot/database/connection.py