#chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

/* Make the chat list scrollable */
#chat-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px; /* Space for the input box */
}

/* Fix the input box at the bottom */
#input-box {
  display: inline-block;
  align-items: center;
  background-color: white;
  padding: 10px;
}
.submit-box-button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.add-new:hover .icon rect {
    fill: red; /* Changes the fill color to red on hover */
}
.bot-message {
  word-wrap: break-word; /* Allow long words to break and wrap */
  /* background-color: #f1f1f1; */
  max-width: 98%; /* Prevent the message from being too wide */
  word-break: break-word; /* Make sure long words break properly */
  margin-right: 0;
  margin-left: auto;
}
  
.user-message { 
  word-wrap: break-word; /* Allow long words to break and wrap */
  /* background-color: #f1f1f1; */
  max-width: 98%; /* Prevent the message from being too wide */
  word-break: break-word; /* Make sure long words break properly */
}
